PORT=3001

# DATABASE
POSTGRES_DB=hivision
POSTGRES_USER=hivision
POSTGRES_PASSWORD=hivision123
POSTGRES_PORT=5433

# EMAIL
SMTP_SERVICE=gmail
SMTP_USER=xxxx
SMTP_PASSWORD=xxxx
SMTP_FROM_EMAIL=xxxx
SMTP_FROM_NAME=HIVision
ALLOW_ETHEREAL_TEST=false
