@import "tailwindcss";
@import "./styles/ionicons.css";

:root {
  --background-primary: #ffffff;
  --background-secondary: #f2f3f0;
  --primary-color: #550402;
}

.ff-default {
  font-family: Inter;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #550402;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
